doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      div.page-title Retro Game eStore

    div.main-content 
      div.sidebar 
        ul.sidebar-nav 
          div.sidebar-lists
            li 
              a(href='/catalog') Home
            li 
              a(href='/catalog/consoles') Consoles 
            li 
              a(href='/catalog/studios') Studios
            li 
              a(href='/catalog/games') Games
            li 
              a(href='/catalog/listings') Listings
          div.sidebar-updates 
            li 
              a(href='/catalog/consoles/create') Add new console
            li
              a(href='/catalog/studios/create') Add new studio
            li 
              a(href='/catalog/games/create') Add new game
      div.info
        block content